#app-mount {
    // Entire page background
    .page_c48ade {
        background: transparent;
    }


    // Title bar background
    .page_c48ade .themed__9293f.toolbar__89463 {
        background: rgba($color: #000000, $alpha: 0.7);
    }

    // Center background
    .container__89463 {
        background: transparent;
    }

    // "Level" row card background
    div.container__5573a {
        background: rgba($color: #000000, $alpha: 0.5);
    }

    // Sidebar background
    .sidebarContainer__89463 {
        background: rgba($color: #000000, $alpha: var(--right-brightness));
    }

    //
    // OLD STUFF
    //

	.contentContainer__89463 {
		background-color: rgb(0, 0, 0, var(--middle-brightness));
		background-image: none;
		margin: var(--window-padding);
		border-radius: var(--window-roundness);
	}
	.tierWrapper-W9ajqp {
		box-shadow: none !important;
	}
	.ctaBar-2UsjF2,
	.tier-12tKuZ {
		background: var(--background-secondary);
	}
	.tierHeader---JJFb {
		background-color: var(--background-secondary);
		color: var(--text-normal);
	}
	.tierLock-3CSxSX {
		color: var(--text-normal);
	}
	.tierBody-16Chc9 {
		background: transparent;
	}
	.perk-2WeBWW {
		background-color: var(--background-secondary);
	}
}
